body{background-color: rgb(222, 241, 240)}
div#puzzle{
	
	border:black 1px solid;
	width:550px;
	height:350px;
	padding:24px;
	margin:0px auto;
	background-color:fuchsia;


}
div#puzzle > div{
	background: url(tile_bg.jpg) no-repeat ;
	width:110px;
	height:85px;
	float:left;
	

}
div#card > div{
	background: url(tile_bg.jpg) no-repeat ;
	border:black 1px solid;
	width:71px;
	height:45px;
	float:left;
	margin:7px;
	padding:20px;
}

#card{
    width:100%;
	height:200px;
	position: relative;
}