
body{    background-image: url(google1.jpeg);
         background-size: cover;
         margin:0px;
}
            /* Start header  */
#header{    height:100px;}

#header .div1{   height:100px;
                width:300px;
                float: right;

}

#header .div1 a{    float: left; 
                    text-decoration: none;
                    color:rgb(133, 116, 116);
                    text-align: center;
                    margin-top: 35px;
                    margin-right:10px;
                } 
                
#header .div1 p{    font-size: 12px;
                    font-weight: normal;
                }
                 /* End header  */

                 /*Start content */
#content{   height: 100px} 
#content input [type=text]{  
     
#content img{
#content a{
#content{                